.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    box-shadow: none;
}

.alert-status {
    margin: 3% auto 3%;
    max-width: 850px;
}

.alert-success {
    border-color: #19B99A;
    background: #20A286;
    color: #fff;
}
