.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    box-shadow: none;
}

.alert-status {
    margin: 2.5% auto 2.5%;
    max-width: 960px;
}
